body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:0;
    margin:0;
}
.section-1 {
    background-color: #1F2937;
    flex-basis: 400px;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.inner-s1 {
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    /* border:1px solid white; */
    width:1000px;
}
.header {
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-basis: 48px;
    align-items: center;
}
.logo {
    font-size:18px;
    color: #e5e5e5;
    font-weight: 700;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    gap: 1em;
    color: #e5e7eb;
}
.hero-container {
    width: 1000px;
    display:flex;
    margin-bottom: 100px;
}
.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
}
.hero-msg {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-size:1
}

.hero-submsg {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-container button {
    background-color: #3882f6;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    padding-inline: 16px;
    font-weight:600;
    color: white;
}

.section-2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding:50px;
    padding-bottom:100px;
}

.section-2 h2 {
    font-size: 36px #1F2937;
    font-weight: 900;
    margin-bottom:32px;
}

.section-2 .img-container {
    display:flex;
    gap: 32px;
}

.section-2 .small-img{
    flex-basis: 140px;
    text-align: center;
}

.section-2 img {
    width:140px;
    height:auto;
}

.section-2 img {
    border: 2px solid #3882f6;
    border-radius: 16px;
}

.section-3 {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom:100px;
    display:flex;
    justify-content: center;
}

.section-3 .quotebox {
    width: 900px;
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.section-3 .quote {
    font-size: 36px;
    font-weight: 300;
    font-style:italic;
}
.section-3 .attribution {
    font-weight: bold;
    align-self:flex-end;
}

.section-4 {
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
    justify-content: center;;
}

.section-4 .callout {
    width: 950px;
    background-color: #3882f6;
    color:white;
    border-radius:16px;
    display:flex;
    justify-content: space-around;
    padding-block: 50px;
}

.section-4 button {
    background-color: #3882f6;
    border:2px solid white;
    border-radius: 8px;
    color: white;
    padding:16px 32px;
    font-size: 16px;
    font-weight:bold;
}
.section-4 strong {
    display:block;
    font-size: 20px;
}