body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:0;
    margin:0;
}
.section-1 {
    background-color: #1F2937;
    flex-basis: 400px;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.inner-s1 {
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    /* border:1px solid white; */
    width:1000px;
}
.header {
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-basis: 48px;
    align-items: center;
}
.logo {
    font-size:18px;
    color: #e5e5e5;
    font-weight: 700;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    gap: 1em;
    color: #e5e7eb;
}
.hero-container {
    width: 1000px;
    display:flex;
    margin-bottom: 100px;
}
.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
}
.hero-msg {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-size:1
}

.hero-submsg {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-container button {
    background-color: #3882f6;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    padding-inline: 16px;
    font-weight:600;
    color: white;
}

